* text=auto
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.toml text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
DCO text eol=lf
*.docx binary
*.pptx binary
*.xlsx binary
*.zip binary
